html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    margin-top: 50px;
    background: linear-gradient(0deg, rgba(14,116,117,1) 10%, rgba(80,134,92,1) 28%, rgba(255,182,25,1) 68%);
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    margin-top: 0;
    width: 200px;
    height: 250px;
    border-radius: 20px 20px 0 0;
}

img:hover{
    transform: scale(1.2);
    border-radius: 0;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid bisque;
    border-radius: 20px;
    width: 200px;
    background-color: rgb(216, 131, 27);
    -webkit-box-shadow: 5px -1px 19px 1px #000000; 
    box-shadow: 5px -1px 19px 1px #000000;
}

